MyJaxRs {
    org.apache.openejb.core.security.jaas.SQLLoginModule required
    dataSourceName="jdbc/postgres"
digest="MD5"
    userSelect="SELECT username, password FROM users WHERE username = ?"
    groupSelect="SELECT username, groupname FROM users_groups_v WHERE username = ?";
};

<Realm className="org.apache.catalina.realm.JAASRealm"
                       appName="MyJaxRs"
                       userClassNames="org.apache.openejb.core.security.jaas.UserPrincipal"
                       roleClassNames="org.apache.openejb.core.security.jaas.GroupPrincipal">
                </Realm>